{% extends "base.html.twig" %}

{% block title 'Panier' %}

{% block body %}

<div class="products-container">
    <div class="product-header">
        <h5 class="product-title">Produit</h5>
        <h5 class="price">Prix</h5>
        <h5 class="quantity">Quantité</h5>
        <h5 class="total">Prix Total:</h5>
    </div>
    <div class="products">
    
    </div>
</div>

{% endblock %}