{% extends "base.html.twig" %}
{% block title 'order' %}

{% block body %}
	<section class="page_profils">
		<div class="border">
			<div class="profil_title">
				<h1 class="heading">Consulter l'historique des commandes :</h1>
			</div>
		</diV>
	</section>

{% endblock %}
