.products img{
    width: 120px;
    height: 90px;
    margin-left: 3%
    
  }
  .product span{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6%;
    
  }
  .products-container ion-icon {
    color: blue;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
  }
  .products-container{
  max-width: 800px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top:10%;
  font-size: 2rem;
  min-height: 100%;
  }
  .product-header{
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid red;
    margin: 0 auto;
  }
  
  .product-title{
    width: 45%;
  }
  .price{
    width: 15%;
    display: flex;
    align-items: center;
  }
  
  .quantity{
  width: 30%;
  display: flex;
  align-items: center;
  }
  
  .total{
    width: 10%;
    display: flex;
    align-items: center;
  }
  
  .products{
    width: 100%;
    display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   margin-top: 2%;
  }
  .product{
    width: 45%;
    display: flex;
  }
  .all {
    display: flex;
    padding-bottom: 1%;
    padding-top: 0.5%;
    border-bottom: 1px solid lightgrey;
  }
  
  .prix_panier_total{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
  }
  .prix_panier_titre{
    width: 20%;
  }
  .prix_total{
    width: 10%;
  }