@import './layout/general.scss';
@import './layout/header.scss';
@import './layout/home.scss';
@import './layout/specialites.scss';
@import './layout/populaire.scss';
@import './layout/carteAchat.scss';
@import './layout/paiement.scss';
@import './layout/galerie.scss';
@import './layout/avis.scss';
@import './layout/footer.scss';
@import './layout/panier.scss';
@import './layout/page_chargement.scss';
@import './layout/mediaquery_index.scss';
@import './layout/mediaquery_panier.scss';
@import './components/bouton_scroll.scss';
@import './components/boutton.scss';
@import './layout/form_Registration.scss';
@import './layout/form_Login.scss';
@import './layout/profils.scss';

